{% load static %}

<div id="answer-{{ answer.id }}" class="card me-lg-3">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-2 d-flex flex-column align-items-center me-3 ms-2">
          <div class="border mb-2 d-flex justify-content-center">
            <a href="{% url 'user' answer.author.id %}">
              <img src="{% static 'img/' %}{{ answer.author.profile.avatar }}"  alt="avatar" class="img img-fluid">
            </a>
          </div>
          <div class="d-flex justify-content-center">
            <button id="like-bth" type="button" class="btn btn-success"></button>
            <div class="border d-flex justify-content-center align-items-center me-2 ms-2" style="width:50px;">{{ answer.get_likes }}</div>
            <button id="dislike-bth" type="button" class="btn btn-danger"></button>
          </div>
        </div>
        <div class="col-lg d-flex flex-column justify-content-between mt-3 mt-lg-0">
          <div>
            <p class="card-text mt-3">{{answer.text}}</p>
          </div>
          <form class="d-flex align-items-center mt-3 mt-lg-0">
            <input class="my-checkbox form-check-input me-2" type="checkbox" value="" id="cor-form">
            <label class="light-text form-check-label fs-5" for="cor-form">
              Correct!
            </label>
          </form>
        </div>
      </div>
    </div>
  </div>