{% load static %}
{% load custom_args %}

<div id="answer-{{ answer.id }}" class="card me-lg-3">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-2 d-flex flex-column align-items-center pe-0 me-3 ms-2">
          <div class="border mb-2 d-flex justify-content-center">
            <a href="{% url 'user' answer.author.id %}">
              <img src="{{ MEDIA_URL }}{{ answer.author.profile.avatar.url }}" alt="avatar" class="img img-fluid">
            </a>
          </div>
          {% if request.user.is_authenticated %}
          <div class="d-flex justify-content-center">
            <button type="button" id="like-bth" class="btn btn-success" data-type="like" data-cur="{% call_method answer 'like' request.user %}" data-id="{{ answer.id }}" data-object="answer"></button>
            <div class="border d-flex justify-content-center align-items-center me-2 ms-2" data-id="{{ answer.id }}" style="width:50px;">{{ answer.get_likes }}</div>
            <button type="button" id="dislike-bth" class="btn btn-danger" data-type="dislike" data-cur="{% call_method answer 'like' request.user %}" data-id="{{ answer.id }}" data-object="answer"></button>
          </div>
          {% endif %}
        </div>
        <div class="col-lg d-flex flex-column justify-content-between mt-3 mt-lg-0">
          <div>
            <p class="card-text mt-3">{{answer.text}}</p>
          </div>
          {% if request.user == answer.question.author %}
          <form class="d-flex align-items-center mt-3 mt-lg-0">
            <input class="my-checkbox form-check-input me-2" type="checkbox" value="" id="cor-form" data-id="{{ answer.id }}" data-cur="{{ answer.is_checked }}">
            <label class="light-text form-check-label fs-5" for="cor-form">
              Correct!
            </label>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>