{% load static %}

<div class="row d-flex align-items-center {{ mt }}">
    <div class="col-lg-auto">
      <div>
        <h2 class="{{ class }} fs-4">Upload avatar</h2>
      </div>
    </div>
    <div class="col-lg ml-2 flex-column align-items-center">
      <div class="border mb-3 d-inline-block">
        <img src="{% static '/img/avatar.jpg' %}" alt="avatar" class="img-fluid ml-5" id="big-avatar">
      </div>
      <div class="col-lg ml-2 d-flex me-4">
        <input id="avatar" class="form border" placeholder="c:\avatar.jpg"></input>
      </div>
    </div>
  </div>
