{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet" />
  <link href="{% static '/css/index.css' %}" rel="stylesheet" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}"> 
</head>
<body class="d-flex flex-column min-vh-100">

  <!---Navbar-->

  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container d-flex">
      <a class="navbar-brand d-flex align-items-center text-white d-lg-none" href="{% url "index" %}">
        <img src="{% static '/img/planet.png' %}" alt="Logo" height="50" class="d-inline-block align-text-top">
        <h1 class="fw-bolder fs-2 mb-0 me-2">Discussion space</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between gap-3" id="navbarContent">
        <a class="navbar-brand d-flex align-items-center text-white" href="{% url "index" %}">
          <img src="{% static '/img/planet.png' %}" alt="Logo" height="50" class="d-inline-block d-none d-lg-block align-text-top">
          <h1 class="fw-bolder fs-2 mb-0 me-2 d-none d-lg-block">Discussion space</h1>
        </a>

        <form class="d-flex" role="search" id="search-form">
          <div class="position-relative me-2" style="width: 100%;">
            <input class="search-input me-2" type="search" placeholder="Search" id="search-input" aria-label="Search" style="width: 100%;">
            <div class="dropdown-menu w-100 position-absolute start-0" id="list" style="top: 100%; left: 0 !important; right: 0 !important;"></div>
          </div>
          <button class="btn btn-outline-light" type="submit">Find!</button>
        </form>

        <div>
          <a class="btn btn-outline-light fw-bolder fs-5 mt-3 mb-2 mt-lg-0 mb-lg-0" 
          href="{% if request.user.is_authenticated %}{% url 'ask' %}{% else %}{% url 'login' %}?next=ask{% endif %}">Ask now!</a>
        </div>

        {% include request.user.is_authenticated|yesno:'layouts/navbar1.html,layouts/navbar2.html' %}

      </div>
    </div>
  </nav>

  <main class="container mt-2">
    <div class="row">
      <section class="col-lg-9">

        {% block content %}
        {% endblock %}

      </section>

      <!---Sidebar-->

      <aside class="general_info col-lg-3 mb-2">

        <section class="popular-tags mb-3 text-white">
          <h2 class="light-text fs-2 mb-2 mt-3">Popular Tags</h2>
          {% for tag in popular_tags %}
          <a class="badge rounded-pill fs-6 mt-2 text-bg-success link-light link-offset-1 link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url "tag" tag.id %}">Tag {{ tag.tag }}</a>
          {% endfor %}
        </section>

        <section class="best-members text-white">
          <h2 class="light-text fs-2 mb-3 mt-3">Best Members</h2>
          {% for user in popular_users %}
          <a class="fs-5 d-block link-light link-offset-2 link-underline-opacity-100-hover link-underline-opacity-50" href="{% url "user" user.id %}">{{ user.profile.nickname }}</a>
          {% endfor %}
        </section>

      </aside>

    </div>
  </main>

  <!---Footer-->

<footer class="footer mt-auto py-3 flex-row">
    <div class="container d-flex justify-content-center align-items-center">
      <span class="dark-text fs-5 text-white">2025 Discussion space</span>
      <div class="theme-switch">
        <input type="checkbox" id="theme" class="theme-switch__input">
      </div>
    </div>
  </footer> 


  <script src="{% static '/js/index.js' %}"></script>
  <script src="{% static '/js/likes.js' %}"></script>
  <script src="{% static '/js/bootstrap.bundle.js' %}"></script>
</body>

</html>
