{% load static %}
{% load bootstrap5 %}


{% csrf_token %}

{% for field in form %}
<div class="row d-flex align-items-center mt-3">
    <div class="col-lg-auto">
        <div>
            <h2 class="{{ label }} fs-4">{{ field.label }}</h2>
        </div>
    </div>
    <div class="col-lg ml-2 d-flex me-4">
        {{ field }}
    </div>
</div>

{% if field.errors %}
<div class="row d-flex align-items-center mt-1">
    <div class="col-lg-auto">
        <h2 class="{{ label }} fs-4"></h2>
    </div>
    <div class="col-lg ml-2 d-flex me-4">
        {% for error in field.errors %}
            <p class="text-danger fs-6 mb-0" id="{{ field.name }}-err">{{ error }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endfor %}
  