{% load static %}
<div class="navbar-user d-flex gap-2 align-items-center">
  <div class="me-2 mt-1 mb-1">
    <img src="{% static 'img/' %}{{ request.user.profile.avatar }}" alt="avatar" class="img img-fluid" id="user-avatar">
  </div>
  <div class="content mb-1">
    <a href="{% url 'user' request.user.id %}" class="text-decoration-none">
      <div class="content-name text-white fs-3">{{ request.user.profile.nickname }}</div>
    </a>
    <div class="content-links">
      <a href="{% url 'logout' %}?next={{ request.path }}" class="link-light fw-bolder fs-5 me-1 link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover">Log out</a>
      <a href="{% url "settings" %}" class="link-light fw-bolder fs-5 link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover">Settings</a>
    </div>
  </div>
</div>