{% load static %}
{% load custom_args %}

<div class="card me-lg-3">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-2 d-flex flex-column align-items-center pe-0 me-3 ms-2">
          <div class="border mb-2 d-flex justify-content-center">
            <a href="{% url 'user' question.author.id %}">
              <img src="{{ MEDIA_URL }}{{ question.author.profile.avatar.url }}" alt="Avatar" class="img img-fluid"> 
            </a>
          </div>
          {% if request.user.is_authenticated %}
          <div class="d-flex justify-content-center">
            <button type="button" id="like-bth" class="btn btn-success" data-type="like" data-cur="{% call_method question 'like' request.user %}" data-id="{{ question.id }}" data-object="question"></button>
            <div class="border d-flex justify-content-center align-items-center me-2 ms-2" data-id="{{ question.id }}" style="width:50px;">{{ question.get_likes }}</div>
            <button type="button" id="dislike-bth" class="btn btn-danger" data-type="dislike" data-cur="{% call_method question 'like' request.user %}" data-id="{{ question.id }}" data-object="question"></button>    
          </div>
          {% endif %}
        </div>
        <div class="col-lg d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title mt-2">{{question.title}}</h5>
            <p class="card-text">{{question.text}}</p>
          </div>
          <div class="row mt-3 mt-lg-0">
            <div class="col-lg">
              <a href="{% url "question" question.id %}" class="light-text link-offset-2 ">Answers ({{ question.answers.count }})</a>
            </div>
            <div class="col-lg mt-1 mt-lg-0">
              <span>Tags:</span>
              {% for tag in question.tags.all %}
              <a class="badge rounded-pill text-bg-success link-light link-offset-1 link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url "tag" tag.id %}">Tag {{ tag.tag }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>