/* ---LightTheme----------------------------------------------------------------------- */

/* ---General----------------------------------------------------------------------- */

.navbar {
  background-color: #4a198a;
}

.general_info {
  background-color: #ad85e0;
}

.name-title {
  word-break: break-word;
  width: 100%;
}

/* ---Text----------------------------------------------------------------------- */

.light-text {
  color: #4a198a;
}

.dark-text {
  color: #200941;
}

.ask-label {
  color: #4a198a;
  width: 70px;
}

.set-label {
  color: #4a198a;
  width: 160px;
}

.log-label {
  color: #4a198a;
  width: 160px;
}

.reg-label {
  color: #4a198a;
  width: 200px;
}

/* ---Buttons----------------------------------------------------------------------- */

.bth {
  background-color: transparent;
  border: 1px solid #4a198a;
  border-radius: 5px;
  color: #4a198a;
}

.bth:hover {
  background-color: #4a198a;
  color: #ffffff;
}

#ans-bth {
  height: 35px;
  width: 100px;
}

#ask-bth {
  height: 40px;
  width: 120px;
  margin-left: 95px;
}

#save-bth {
  height: 40px;
  width: 120px;
  margin-left: 185px;
}

#login-bth {
  height: 40px;
  width: 120px;
  margin-left: 185px;
}

#choose-bth {
  height: 35px;
}

#like-bth {
  background-image: url('../img/like.png');
  background-size: cover;
  background-position: center;
  height: 37px;
  width: 40px;
}

#dislike-bth {
  background-image: url('../img/dislike.png');
  background-size: cover;
  background-position: center;
  height: 37px;
  width: 40px;
}

/* ---Forms----------------------------------------------------------------------- */

.form {
  background-color: white;
  color: #140627;
  border: 1px solid transparent;
  border-radius: 7px;
  font-size: 16px;
  transition: border-color 0.3s;
  padding: 10px;
  height: 47px;
}

.form:focus {
  border-color: white;
  outline: none;
}

#ans {
  height: 150px;
}

#title {
  height: 50px;
}

#tags {
  height: 50px;
}

#text {
  height: 250px;
}

/* ---Pagination----------------------------------------------------------------------- */

#cur-page {
  background-color: #4a198a;
  color: #ffffff;
}

.pagination a {
  color: #140627;
}

.pagination a:hover,
.pagination .active a {
  background-color: #4a198a;
  color: #ffffff;
}

.pagination a:focus {
  background-color: #4a198a;
  color: #ffffff;
  box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.25);
}

/* ---Footer----------------------------------------------------------------------- */

.footer {
  background: linear-gradient(90deg, #4a198a, #ad85e0);
  height: 100%;
}

/* ---Checkbox----------------------------------------------------------------------- */

.my-checkbox {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 1px solid #dee2e6 !important;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.my-checkbox:not(:checked) {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 1px solid #dee2e6 !important;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.my-checkbox:checked {
  background-color: #4a198a;
  border-color: #4a198a;
}

.my-checkbox:focus {
  border-color: #6f42c1;
  box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.25);
}

.my-checkbox:checked::after {
  color: white;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.form-check-label {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

/* ---Search----------------------------------------------------------------------- */

.search-input {
  background-color: white;
  color: #140627;
  border: 2px solid transparent;
  border-radius: 7px;
  padding: 7px;
  font-size: 16px;
  transition: border-color 0.3s;
  height: 40px;
}

.search-input:focus {
  border-color: white;
  outline: none;
}

/* ---Error----------------------------------------------------------------------- */

.error-frame {
  border: 3px solid #4a198a; 
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(138, 43, 226, 0.2);
  max-width: 600px;
  margin: 0 auto;
  padding: 3rem;
}

.purple-text {
  color: #4a198a;
}

.btn-purple {
  background-color: #4a198a;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 50px;
}

.btn-purple:hover {
  background-color: #4a198a;
  color: #f8f1ff;
  box-shadow: 0 15px 30px rgba(74, 25, 138, 0.4);
}

/* ---Hr----------------------------------------------------------------------- */

.hr {
  border-top: solid #4a198a;
}

/* ---Images----------------------------------------------------------------------- */

#user-avatar {
  height: 70px;
  width: 70px;
}

#big-avatar {
  height: 200px;
  width: 200px;
}

.img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  min-width: 70px;
}

/* ---Avatar----------------------------------------------------------------------- */

.avatar-label {
  width: 200px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  background: transparent;
  color: #200941;
  border: 1px solid #dee2e6;
  border-radius: 7px;
  cursor: pointer;
}

.avatar-label:hover {
  background: #4a198a;
  color: white;
  border-color: #4a198a;
}

.avatar-label:active {
  background: #3a1370;
  border-color: #3a1370;
}

.upload-text {
  text-align: center;
  width: 100%;
}

.avatar-input {
  display: none;
}

/* ---Switch----------------------------------------------------------------------- */

.theme-switch {
  position: relative;
  height: 1.5em;
  width: 3em;
  display: flex;
  margin-left: 1.5em;
  align-items: center;
}

.theme-switch__input {
  appearance: none;
  width: 100%;
  height: 1.5em;
  cursor: pointer;
}

.theme-switch__input {
  background-color: #009479;
  border-radius: 2em;
  border: 2px solid #009479;
  transition: background-color 0.3s, border-color 0.3s;
}

.theme-switch__input::before {
  content: "";
  position: absolute;
  top: 0.15em;
  left: 0.15em;
  width: 1.2em;
  height: 1.2em;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.theme-switch__input:checked {
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.theme-switch__input:checked::before {
  transform: translateX(1.5em);
}

.theme-switch__input:checked:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(111, 66, 193, 0.3);
}

.theme-switch__input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(1, 128, 68, 0.5);
}

/* ---Darkheme----------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

/* ---General----------------------------------------------------------------------- */

body[data-bs-theme="dark"] .navbar {
  background-color: #009479;
}

body[data-bs-theme="dark"] .general_info {
  background-color: #85e0b5;
}

/* ---Text----------------------------------------------------------------------- */

body[data-bs-theme="dark"] .light-text {
  color: #ffffff;
}

body[data-bs-theme="dark"] .dark-text {
  color: #ffffff;
}

body[data-bs-theme="dark"] .ask-label {
  color: #009479;
  width: 70px;
}

body[data-bs-theme="dark"] .set-label {
  color: #009479;
  width: 160px;
}

body[data-bs-theme="dark"] .log-label {
  color: #009479;
  width: 160px;
}

body[data-bs-theme="dark"] .reg-label {
  color: #009479;
  width: 200px;
}

/* ---Buttons----------------------------------------------------------------------- */

body[data-bs-theme="dark"] .bth {
  background-color: transparent;
  border: 1px solid #009479;
  border-radius: 5px;
  color: #009479;
}

body[data-bs-theme="dark"] .bth:hover {
  background-color: #009479;
  color: #ffffff;
}

/* ---Forms----------------------------------------------------------------------- */

body[data-bs-theme="dark"] .form {
  background-color: #212529;
  color: #e9ecef;
  border-color: #495057;
}

/* ---Pagination----------------------------------------------------------------------- */

body[data-bs-theme="dark"] #cur-page {
  background-color: #009479;
  color: #ffffff;
}

body[data-bs-theme="dark"] .pagination a {
  color: #ffffff;
}

body[data-bs-theme="dark"] .pagination a:hover,
.pagination .active a {
  background-color: #009479;
  color: #ffffff;
}

body[data-bs-theme="dark"] .pagination a:focus {
  background-color: #009479;
  color: #ffffff;
  box-shadow: 0 0 0 0.2rem rgba(23, 68, 47, 0.25);
}

/* ---Footer----------------------------------------------------------------------- */

body[data-bs-theme="dark"] .footer {
  background: linear-gradient(90deg, #009479, #85e0b5);
  height: 100%;
}

/* ---Checkbox----------------------------------------------------------------------- */

body[data-bs-theme="dark"] .my-checkbox {
  width: 20px;
  height: 20px;
  appearance: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

body[data-bs-theme="dark"] .my-checkbox:not(:checked) {
  width: 20px;
  height: 20px;
  appearance: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

body[data-bs-theme="dark"] .my-checkbox:checked {
  background-color: #009479;
  border: 1px solid #009479 !important;
}

body[data-bs-theme="dark"] .my-checkbox:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 68, 47, 0.25);
}

/* ---Hr----------------------------------------------------------------------- */

body[data-bs-theme="dark"] .hr {
  border-top: solid #85e0b5;
}

/* ---Avatar----------------------------------------------------------------------- */

body[data-bs-theme="dark"] .avatar-label {
  color: #ffffff;
  border-color: #495057;
}

body[data-bs-theme="dark"] .avatar-label:hover {
  background: #009479;
  color: white;
  border-color: #009479;
}

body[data-bs-theme="dark"] .avatar-label:active {
  background: #009479;
  border-color: #009479;
}

/* ---Error----------------------------------------------------------------------- */

body[data-bs-theme="dark"] .error-frame {
  border: 3px solid #009479; 
  box-shadow: 0 10px 30px rgba(23, 68, 47, 0.25);
}

body[data-bs-theme="dark"] .purple-text{
  color: #009479;
}

body[data-bs-theme="dark"] .btn-purple{
  background-color: #009479;
}

body[data-bs-theme="dark"] .btn-purple:hover {
  background-color: #009479;
  color: #f8f1ff;
  box-shadow: 0 15px 30px rgba(23, 68, 47, 0.25);
}
