{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet" />
  <link href="{% static '/css/index.css' %}" rel="stylesheet" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}"> 
  <title>Page Not Found | Discussion Space</title>
</head>
<body class="d-flex flex-column min-vh-100">

  <main class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
    <div class="error-frame text-center">
      <h1 class="display-1 fw-bold purple-text mb-4">{{ error }}</h1>
      <h2 class="fs-1 purple-text mb-4">Oops! Something went wrong</h2>
      <a href="{% url 'index' %}" class="btn btn-purple btn-lg">
        <i class="bi me-2"></i> Go to Homepage
      </a>
    </div>
  </main>

  <footer class="footer mt-auto py-3 flex-row">
    <div class="container d-flex justify-content-center align-items-center">
      <span class="dark-text fs-5 text-white">2025 Discussion space</span>
      <div class="theme-switch">
        <input type="checkbox" id="theme" class="theme-switch__input">
      </div>
    </div>
  </footer> 

  <script src="{% static '/js/index.js' %}"></script>
  <script src="{% static '/js/likes.js' %}"></script>
  <script src="{% static '/js/bootstrap.bundle.js' %}"></script>
</body>
</html>