{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
  <div class="mt-4 d-flex gap-3 flex-column">

    <div class="card me-lg-3">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3 d-flex flex-column align-items-center">
            <div class="border mb-2 d-flex justify-content-center">
              <a href="{% url 'user' question.author.id %}">
                <img src="{% static question.author.profile.avatar %}" alt="avatar" class="img img-fluid" id="big-avatar">
              </a>
            </div>
            <a href="{% url 'user' question.author.id %}" class="mb-2 mt-2 mt-lg-0 fs-5 link-offset-1 text-body">
              {{ question.author.username }}
            </a>
            <div class="d-flex justify-content-center">
              <button id="like-bth" type="button" class="btn btn-success"></button>
              <div class="border d-flex justify-content-center align-items-center me-2 ms-2" style="width:50px;">{{ question.get_likes }}</div>
              <button id="dislike-bth" type="button" class="btn btn-danger"></button>
            </div>
          </div>
          <div class="col-lg d-flex flex-column justify-content-between">
            <div>
              <h3 class="card-title mb-2 mt-3 mt-lg-2">{{question.title}}</h3>
              <p class="card-text ">{{question.text}}</p>
            </div>
            <div class="tags mt-3 mt-lg-0">
              <span class="me-1">Tags:</span>
              {% for tag in question.tags.all %}
              <a class="badge rounded-pill text-bg-success link-light link-offset-1 link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url "tag" tag.id %}">Tag {{ tag.tag }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="me-lg-3">
      <hr class="hr border-3 opacity-75">
    </div>

    <articles class="mt-2 d-flex gap-3 flex-column">
      {% for answer in answers %}
      {% include 'layouts/answer.html' %}
      {% endfor %}
    </articles>

    {% include 'layouts/pagination.html' %}
    
    <div class="me-lg-3">
      <hr class="hr border-3 opacity-75">
    </div>

    <form>
      <div class="d-flex me-lg-3">
      <textarea id="ans" class="form flex-fill border" placeholder="Enter your answer here..." aria-label="Search" rows="1"></textarea>
      </div>
      <button id="ans-bth" class="bth mt-3 mb-3" type="submit">Answer!</button>
    </form>

  </div>

{% endblock %}