{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

  <div class="d-flex align-items-center gap-2 mt-2 mb-3">
    <h1 class="dark-text fw-bolder fs-1">Registration</h1>
  </div>

  <form action="{% url 'signup' %}" method="POST" enctype="multipart/form-data">

    {% include 'layouts/form.html' with label='reg-label'%}
  
    <div class="row d-flex align-items-center mt-3 mb-3">
      <div style="width: 50px"></div>
      <button id="save-bth" class="bth fw-bolder fs-5" type="submit">Register!</button>
    </div>
  
  </form>

  {% include 'layouts/pagination.html' %}

{% endblock %}
     